/*  ---- Reset ---- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* --------container --------*/

.container{
    max-width: 1140px;
    margin: 0 auto;
}
.small-container{
    max-width: 410px;
    margin: 0 auto;
}

.card{
    background-color: transparent;
    border-radius: 25px;
    padding: 40px 25px;
}

.link{
    list-style: none;
    gap: 30px;
}

img{
    width: 100%;
}

.pos{
    position: relative;

}






.row{
    display: flex;
    flex-wrap: wrap;
}
.jst-cnt{
    justify-content: center;
}
.jst-btwn{
    justify-content: space-between;
}
.align-item{
    align-items: center;
}
.grow{
    flex-grow: 1;
    padding-right: 23px;
}
.column{
    flex-direction: column;
}
.half50-col{
    width: 50%;
}




/* ----------- header ----------*/

.header{
    background-color: #0784fa;
    padding: 20px 30px;
}
.respons-menu-hamb{
    display: none;
}

