/*  ---- Reset ---- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* --------container --------*/
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.small-container{
    max-width: 410px;
    margin: 0 auto;
}

.card{
    background-color: transparent;
    border-radius: 25px;
    padding: 40px 25px;
}

/* ----------- header ----------*/

.header{
    background-color: #0784fa;
    padding: 20px 30px;
}
.respons-menu-hamb{
    display: none;
}